videos/kopay.mp4
videos/car_chase_01.mp4
videos/car_chase_02.mp4
videos/airport.mp4
third.jpeg
first.jpeg
output/kopay.mp4
output/kopay23.mp4
output/kopay23s.mp4
yolo-coco/coco.name
yolo-coco/yolov3.cfg
yolo-coco/yolov3.weights
video/overpass.mp4


